{{> navbar }} 
<div class="first-after-navbar">
    <div class="container">
        {{> breadcrumb }}
        <h2>Welcome {{ user_firstname }}</h2>
        <br/>
        <br/>
        <form action="/api/quiz/create" method="post">
            <div class="form-group">
                <label>Nome</label>
                <input name="name" type="text" class="form-control">
            </div>
            <input type="submit" class="btn btn-primary" value="Criar">
        </form>
        <br/>
        <h3>Your quizzes:</h3>
        <table class="table">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Title</th>
                    <th>replies</th>
                </tr>
            </thead>
            <tbody>
                {{#quizes}}
                <tr>
                    <td>{{number}}</td>
                    <td><a href="quiz/{{number}}">{{title}}</a></td>
                    <td>{{replies}}</td>
                </tr>
                {{/quizes}}
            </tbody>
        </table>
    </div>
</div>
