{{> navbar }}
<div class="first-after-navbar">
    <div class="container">
        {{> breadcrumb }}
        {{#if scenes}}
            <div class="list-group">
            {{#each scenes as |scene key|}}
                <a href="quiz/{{id}}/scenes/{{scene.id}}" class="list-group-item">{{scene.statement}}</a>
            {{/each}}
            </div>
        {{else}}
            <p>No scenes in this quiz.</p>
        {{/if}}
        <a href="quiz/{{id}}/scenes" class="btn btn-primary">Create new scene</a>
    </div>
</div>
