{{> navbar }}
<div class="first-after-navbar">
    <div class="container">
        {{> breadcrumb }}

        {{#equal quiz.state 0}}
        <p>This quiz was not started yet.</p>
        <div class="clearfix" style="margin-bottom: 10px">
            <a href="quiz/{{id}}/scenes"><button type="button" class="btn btn-primary">Add Scene</button></a>
            <form action="/api/quiz/state/1" method="post" class="pull-right" style="display: inline-block;">
                <input name="quizID" type="hidden" class="form-control" value={{id}}>
                <input type="submit" class="btn btn-success" value="Start Quiz">
            </form>
        </div>
        {{/equal}}
        {{#equal quiz.state 1}}
        <p>This quiz is ongoing.</p>
            <div class="clearfix" style="margin-bottom: 10px">
                <form action="/api/quiz/export" method="post" style="display: inline-block;">
                    <input name="quizID" type="hidden" class="form-control" value={{id}}>
                    <input type="submit" class="btn btn-primary" value="Export Results">
                </form>
                <form action="/api/quiz/state/2" method="post" class="pull-right" style="display: inline-block;">
                    <input name="quizID" type="hidden" class="form-control" value={{id}}>
                    <input type="submit" class="btn btn-danger" value="End Quiz">
                </form>
            </div>
        {{/equal}}
        {{#equal quiz.state 2}}
        <p>This quiz has ended.</p>
        <div class="quiz-btns-row" style="margin-bottom: 10px">
            <form action="/api/quiz/export" method="post" style="display: inline-block;">
                <input name="quizID" type="hidden" class="form-control" value={{id}}>
                <input type="submit" class="btn btn-success" value="Export Results">
            </form>
        </div>
        {{/equal}}

        {{#if scenes}}
            <div class="list-group">
            {{#each scenes as |scene key|}}
                <a href="quiz/{{../id}}/scenes/{{scene.id}}" class="list-group-item">{{scene.statement}}</a>
            {{/each}}
            </div>
        {{else}}
            <br/>
            <br/>
            <p>No scenes in this quiz.</p>
        {{/if}}
    </div>
</div>
