{{> navbar }}
<div class="first-after-navbar">
    <div class="container">
        {{> breadcrumb }}

        {{#equal quiz.state 0}}
        <p>This quiz was not started yet.</p>
        <div class="row">
            <div class="quiz-btns-row col-md-6">
                <a href="quiz/{{id}}/scenes"><button type="button" class="btn btn-primary">Add Scene</button></a>
            </div>
            <div class="quiz-btns-row col-md-6">
                <button type="button" class="btn btn-success pull-right">Start Quiz</button>
            </div>
        </div>
        {{/equal}}
        {{#equal quiz.state 1}}
        <p>This quiz is ongoing.</p>
        <div class="row">
            <div class="quiz-btns-row col-md-6">
                <button type="button" class="btn btn-primary">Export Results</button>
            </div>
            <div class="quiz-btns-row col-md-6">
                <button type="button" class="btn btn-danger pull-right">End Quiz</button>
            </div>
        </div>
        {{/equal}}
        {{#equal quiz.state 2}}
        <p>This quiz has ended.</p>
        <div class="quiz-btns-row">
            <button type="button" class="btn btn-success">Export Results</button>
        </div>
        {{/equal}}

        {{#if scenes}}
            <div class="list-group">
            {{#each scenes as |scene key|}}
                <a href="quiz/{{id}}/scenes/{{scene.id}}" class="list-group-item">{{scene.statement}}</a>
            {{/each}}
            </div>
        {{else}}
            <br/>
            <br/>
            <p>No scenes in this quiz.</p>
        {{/if}}
    </div>
</div>
